@import '../common';

.sidebar-view {
  width: 20%;
  height: 100vh;
  border-right: 1px solid #eee;
}

.p-l-15 {
  padding-left: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

ul.participants {
  li {
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
}
