<div class="sidebar-view pull-left">
    <div class="p-l-15 p-r-15">
        <h3>Logo</h3>
    </div>
    <hr>
    <div class="participant-list">
        <div class="p-l-15 p-r-15">
            <button class="btn btn-default btn-connection" ng-disabled="$ctrl.isWorking" ng-click="$ctrl.toggleConnect()">
                <img src="{{$ctrl.isConnected? '/assets/icons/disconnect.png' : '/assets/icons/connect.png'}}"/>
            </button>
            <h4>Participants</h4>
        </div>
        <div class="p-l-15 p-r-15" ng-if="$ctrl.users.length == 0">
            <p>No users</p>
        </div>
        <ul class="list-unstyled participants">
            <li ng-repeat="user in $ctrl.users">{{user.name}}</li>
        </ul>
    </div>
    <a href class="open-chat" ng-click="$ctrl.openChatWindow()"><i class="fa fa-comment-o"></i></a>
</div>
