@import '../common';

.sidebar-view {
  width: 20%;
  height: 100vh;
  border-right: 1px solid #eee;
  position: relative;
  z-index: 1;

  a.open-chat {
    font-size: 24px;
    color: #333;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}

.btn-connection {
  img {
    width: 25px;
  }
}

.p-l-15 {
  padding-left: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

ul.participants {
  li {
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
}
